*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #edf1f7;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 16px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  overflow: none;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}

.container-item-1 {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.w-auto {
  width: auto;
}

.align-items-center {
  align-items: center;
}

.venom {
  margin-bottom: 20px;
  width: 106%;
  transform: translate3d(-35px, 0, 0);
}
@media screen and (max-width: 960px) {
  .venom {
    margin-top: 40px;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.ventit {
  width: 100%;
  transform: translate3d(0, -15px, 0);
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  transform: skewX(-10deg);
  transition: 0.7s ease;
  text-transform: uppercase;
  background: linear-gradient(225deg, #8210df 0%, #56029b 100%);
  position: relative;
}
.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30%;
  height: 70%;
  opacity: 0;
  transition: 0.7s ease;
  border-radius: 3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 30%;
  height: 70%;
  opacity: 0;
  transition: 0.7s ease;
  border-radius: 3px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
.btn:hover {
  transform: skewX(-10deg) scale(1.05);
}
.btn:hover::after {
  opacity: 1;
}
.btn:hover::before {
  opacity: 1;
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  transform: skewX(-10deg);
  transition: 0.7s ease;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  border: 2px solid #8210df;
}
.btn-secondary::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -2px;
  z-index: -1;
  width: 0%;
  height: 103%;
  transition: 0.7s ease;
  background: linear-gradient(225deg, #8210df 0%, #56029b 100%);
}
.btn-secondary:hover::after {
  width: 102%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(101.47deg, #0a0c10 26.38%, rgba(10, 12, 16, 0.8) 50.07%, #0a0c10 73.17%);
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, #8210df 0%, #56029b 100%);
}

header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  margin-left: 24px;
}
@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: #959698;
  padding: 8px 16px;
  transition: 0.7s ease;
  position: relative;
}
.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 45%;
  width: 2px;
  height: 0px;
  transition: 0.7s ease;
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #8210df 100%);
}
.nav-link:hover {
  color: #f4f7fb;
}
.nav-link:hover::after {
  height: 40px;
}

.bx {
  display: none;
}
@media screen and (max-width: 960px) {
  .bx {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #edf1f7;
    border-radius: 8px;
  }
}

.nav-social {
  display: inline-flex;
  padding: 0px;
}
.nav-social svg {
  cursor: pointer;
  margin-left: 16px;
  width: 24px;
}
.nav-social svg path, .nav-social svg circle {
  transition: 0.7s ease;
}
.nav-social svg:hover path, .nav-social svg:hover circle {
  fill: #8210df;
  transform: translate3d(0, 0px, 0);
}
@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.logo-spiderman {
  fill: transparent;
  animation: logo-spiderman 12s ease infinite alternate;
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #e5e9ef;
  }
}
.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

/*# sourceMappingURL=styles.css.map */
