$blue: #14181F;
$blue-dark: #0a0c10;
$blue-light: #272a31;

$red: #ea1d22;
$red-dark: #b31317;
$red-light: #f02a2f;

$white: #edf1f7;
$white-dark: #e5e9ef;
$white-light: #f4f7fb;

$gray-1: #b5b6b8;
$gray-2: #a1a3a5;
$gray-3: #959698;